.navbar-end {
  position: fixed;
  right: 40px;
}

.item {
  color: #4a4a4a;
  font-size: 0.8rem;
}

a {
  color: #88fbd7;
}

.navbar-burger,
a:hover {
  color: #6ed3d0;
}

.container {
  width: 530px;
}

.home-p,
.work-p,
.contact-p,
.about-p {
  font-weight: 700;
}

a.navbar-item:hover {
  color: #88fbd7;
  background-color: white;
}

.no-pointer {
  cursor: e-resize;
}

.txt {
  background: linear-gradient(to right, #6ed3d0 0%, #00faab 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.front-text {
  line-height: 1.1;
}

.title-x {
  font-weight: bolder;
}

.front-icon-projects {
  width: 45px;
}

.front-icon-projects2 {
  width: 38px;
}

@media screen and (min-width: 1216px) {
  .container:not(.is-max-desktop) {
    max-width: 1152px;
  }

  .container-c {
    width: 1000px;
  }

  .front-icon {
    width: 80px;
    margin-left: 18px;
  }

  .hero-text {
    font-weight: bolder;
    font-size: 3.5rem;
  }

  .mePhoto {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all 0.8s ease-in-out;
  }

  .mePhoto:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
  }
}

@media screen and (max-width: 1235px) and (min-width: 1023px) {
  .container-c {
    width: 800px;
  }

  .front-icon {
    width: 60px;
    margin-left: 18px;
  }

  .hero-text {
    font-weight: bolder;
    font-size: 2.7rem;
  }

  .photo {
    width: 50%;
  }

  .mePhoto {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all 0.8s ease-in-out;
    width: 100%;
  }

  .mePhoto:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
  }
}

@media screen and (max-width: 1022px) {
  .front-icon {
    width: 40px;
    margin-left: 18px;
  }

  .hero-text {
    font-weight: bolder;
    font-size: 1.7rem;
  }
}

.big-container {
  width: 100%;
}

.sustyle {
  background: black url(../assets/sustyle.jpg) center / cover;
}

.IK {
  background: black url(../assets/IK.jpg) center / cover;
}

.private {
  background: black url(../assets/private.jpg) center / cover;
}

.easy-weather {
  background: black url(../assets/easyweather.jpg) center / cover;
}

.p-project {
  background: rgba(51, 51, 51, 0.2);
}

.zborder {
  transition: 1s box-shadow;
}

.zborder:hover {
  box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.1);
}

.home-s {
  height: 100vh;
}

.skill-h {
  background-color: #45D1B2;
}

.content ul {
  list-style-type: none;
}
